OPENSEA_API_KEY=your_opensea_api_key
OPENSEA_COLLECTION_SLUGS=rockbottomofficial
COLLECTION_LABELS="rockbottomofficial:ROCK BOTTOM"
OPENSEA_POLL_ENABLED=false

BOT_NAME=Pooga Labs Sales Bot
DRY_RUN=true
POST_IMAGES=true
REQUIRE_IMAGES=true
ENS_LOOKUP=true
ETH_RPC_URL=
ENS_TIMEOUT_MS=5000
USD_CONVERSION=true
ETH_USD_SOURCE_URL=https://api.coinbase.com/v2/prices/ETH-USD/spot
ETH_USD_TIMEOUT_MS=3000
ETH_USD_CACHE_MS=120000
RETRY_INTERVAL_MS=60000
RETRY_BATCH_SIZE=3
MAX_PENDING_SALES=250
STATE_FILE=.state/posted-sales.json
BACKFILL_HOURS=12
MIN_SALE_ETH=0
IGNORE_SALES_BEFORE=
HASHTAGS="#RockBottom #PoogaLabs"

X_EXPECTED_USERNAME=poogalabs
X_API_KEY=your_x_api_key
X_API_SECRET=your_x_api_secret
X_ACCESS_TOKEN=your_poogalabs_user_access_token
X_ACCESS_SECRET=your_poogalabs_user_access_secret
X_OAUTH2_CLIENT_ID=your_oauth2_client_id
X_OAUTH2_CLIENT_SECRET=your_oauth2_client_secret_optional
X_OAUTH2_REDIRECT_URI=http://127.0.0.1:8787/callback
X_OAUTH2_ACCESS_TOKEN=your_poogalabs_oauth2_access_token
X_OAUTH2_REFRESH_TOKEN=your_poogalabs_oauth2_refresh_token
X_OAUTH2_TOKEN_FILE=.env
